<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>SustAgro</title>
    <link rel="icon" href="../static/images/logo.png" type="image/x-icon" />

    <link rel="stylesheet" href="../static/css/style.css" />

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>

    <script src="../static/js/script.js"></script>
    <script src="../static/js/state_district.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a href="#" class="navbar-brand">SustAgro</a>
      <button class="navbar-toggler" type="button" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="Home.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item active">
            <a href="CropRecommendation.html" class="nav-link"
              >Crop Recommendation</a
            >
          </li>
          <li class="nav-item">
            <a href="FertilizerPrediction.html" class="nav-link"
              >Fertilizer Prediction</a
            >
          </li>
          <li class="nav-item">
            <a href="YieldPrediction.html" class="nav-link">Yield Prediction</a>
          </li>
          <li class="nav-item">
            <a href="DiseaseDetection.html" class="nav-link"
              >Disease Detection</a
            >
          </li>
          <li class="nav-item">
            <a href="AboutUs.html" class="nav-link">About Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4">
        <img src="../static/images/logo.png" />
      </div>

      <section class="container">
        <form action="{{ url_for('CropRecommendation') }}" method="POST">
          <!-- <div class="form-group">
            <label for="pH">pH</label>
            <input
              type="text"
              class="form-control"
              id="pH"
              name="pH"
              placeholder="Enter pH value"
            />
          </div> -->
          <!-- <div class="form-group">
            <label for="nitrogen">Nitrogen</label>
            <input
              type="text"
              class="form-control"
              id="nitrogen"
              name="nitrogen"
              placeholder="Enter nitrogen value"
            />
          </div>
          <div class="form-group">
            <label for="phosphorous">Phosphorous</label>
            <input
              type="text"
              class="form-control"
              id="phosphorous"
              name="phosphorous"
              placeholder="Enter phosphorous value"
            />
          </div>
          <div class="form-group">
            <label for="potassium">Potassium</label>
            <input
              type="text"
              class="form-control"
              id="potassium"
              name="potassium"
              placeholder="Enter potassium value"
            />
          </div> -->
          <!-- <div class="form-group">
            <label for="oc">O C</label>
            <input
              type="text"
              class="form-control"
              id="oc"
              name="oc"
              placeholder="Enter oc value"
            />
            </div> -->

          <div class="form-group">
            <label for="area">Area</label>
            <input
              type="text"
              class="form-control"
              id="area"
              name="area"
              placeholder="Enter area value"
            />
          </div>

          <div class="form-group">
            <label for="crop_season">Crop Season</label>
            <select id="crop_season" name="crop_season" class="form-control">
              <option value="select an option">--Select an option--</option>
              <option value="Kharif">Kharif</option>
              <option value="Rabi">Rabi</option>
              <option value="Zaid">Zaid</option>
            </select>
          </div>

          <div class="form-group">
            <label for="predict_month">Predict month</label>
            <select
              id="predict_month"
              name="predict_month"
              class="form-control"
            >
              <option value="select an option">--Select an option--</option>
              <option value="JAN">January</option>
              <option value="FEB">February</option>
              <option value="MAR">March</option>
              <option value="APR">April</option>
              <option value="MAY">May</option>
              <option value="JUN">June</option>
              <option value="JUL">July</option>
              <option value="AUG">August</option>
              <option value="SEP">September</option>
              <option value="OCT">October</option>
              <option value="NOV">November</option>
              <option value="DEC">December</option>
            </select>
          </div>
          <!-- <p>Are growing anything currently?</p>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="yes"
              name="is_current"
            />
            <label class="form-check-label" for="yes">YES</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="no"
              name="is_current"
            />
            <label class="form-check-label" for="no">NO</label>
          </div> -->

          <div class="form-group">
            <label for="soil_type">Soil Type</label>
            <select id="soil_type" name="soil_type" class="form-control">
              <option value="select an option">--Select an option--</option>
              <option value="Alluvial">Alluvial</option>
              <option value="Black">Black</option>
              <option value="Loam">Loamy</option>
              <option value="Red">Red</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pincode">Pin code</label>
            <input
              type="text"
              class="form-control"
              id="pin_code"
              name="pin_code"
              placeholder="Enter pincode"
            />
          </div>

          <div class="form-group">
            <label for="inputState">State</label>
            <select class="form-control" id="inputState" name="state">
              <option value="SelectState">Select State</option>
              <option value="Andra Pradesh">Andra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Madya Pradesh">Madya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Orissa">Orissa</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttaranchal">Uttaranchal</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="West Bengal">West Bengal</option>
              <option disabled style="background-color: #aaa; color: #fff">
                UNION Territories
              </option>
              <option value="Andaman and Nicobar Islands">
                Andaman and Nicobar Islands
              </option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Dadar and Nagar Haveli">
                Dadar and Nagar Haveli
              </option>
              <option value="Daman and Diu">Daman and Diu</option>
              <option value="Delhi">Delhi</option>
              <option value="Lakshadeep">Lakshadeep</option>
              <option value="Pondicherry">Pondicherry</option>
            </select>
          </div>

          <!-- <div class="form-group">
                                <label for="district">District</label>
                                <select class="form-control" id="district" name="district">
                                    <option value="">-- select one -- </option>
                                </select>
                              </div> -->

          <div class="form-group">
            <label for="district">District</label>
            <input
              type="text"
              class="form-control"
              id="district"
              name="district"
              placeholder="Enter district"
            />
          </div>

          <!-- <div class="form-group">
            <label for="state">State</label>
            <input
              type="text"
              class="form-control"
              id="state"
              name="state"
              placeholder="Enter state"
            />
          </div> -->

          <button type="submit" class="btn btn-primary">
            Get Crop Recommendations
          </button>
        </form>

        <br />

        <div class="container" id="output">
          <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped table-hover custab">
              <thead>
                <h5><b>Top 3 recommended crops:</b></h5>
                <tr>
                  <th>Crop</th>
                  <th>Yield Percent</th>
                </tr>
              </thead>
              <tr>
                <td>{{ crop1 }}</td>
                <td>{{ yield1 }}</td>
              </tr>
              <tr>
                <td>{{ crop2 }}</td>
                <td>{{ yield2 }}</td>
              </tr>
              <tr>
                <td>{{ crop3 }}</td>
                <td>{{ yield3 }}</td>
              </tr>
            </table>
          </div>
        </div>
      </section>
    </div>

    <section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Our Services</h5>
            <ul class="list-unstyled quick-links">
              <li>
                <a href="Home.html"
                  ><i class="fa fa-angle-double-right"></i>Home</a
                >
              </li>
              <li>
                <a href="CropRecommendation.html"
                  ><i class="fa fa-angle-double-right"></i>Crop
                  Recommendation</a
                >
              </li>
              <li>
                <a href="FertilizerPrediction.html"
                  ><i class="fa fa-angle-double-right"></i>Fertilizer
                  Prediction</a
                >
              </li>
              <li>
                <a href="YieldPrediction.html"
                  ><i class="fa fa-angle-double-right"></i>Yield Prediction</a
                >
              </li>
              <li>
                <a href="DiseaseDetection.html"
                  ><i class="fa fa-angle-double-right"></i>Disease Detection</a
                >
              </li>
            </ul>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>We're Social</h5>
            <ul class="list-unstyled quick-links">
              <li>
                <a href="#"><i class="fa fa-facebook"></i>Facebook</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i>Twitter</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i>Instagram</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i>Google Plus</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Contact us</h5>
            <ul class="list-unstyled quick-links">
              <li>
                <a href="#"><i class="fa fa-phone"></i>+91-1234567890</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-envelope"></i>sustagro@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- <script>
      function onFormsubmit(){
         // all form values
         // {} // data

         // Example POST method implementation:
async function postData(url = '', data = {}) {
  // Default options are marked with *
  const response = await fetch(url, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  return response.json(); // parses JSON response into native JavaScript objects
}

postData('/crop-predi', data)
  .then(response => {
    console.log(response); // JSON data parsed by `data.json()` call
    var reult = response;

  });
      }
    </script> -->
  </body>
</html>
