<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Team N</title>

    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/script.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a href="#" class="navbar-brand">SustAgro</a>
      <button class="navbar-toggler" type="button" data-target="#navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a href="Home.html" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="CropRecommendation.html" class="nav-link">Crop Recommendation</a>
              </li>
              <li class="nav-item">
                <a href="FertilizerPrediction.html" class="nav-link">Fertilizer Prediction</a>
              </li>
              <li class="nav-item">
                <a href="YieldPrediction.html" class="nav-link">Yield Prediction</a>
              </li>
              <li class="nav-item">
                <a href="DiseaseDetection.html" class="nav-link">Disease Detection</a>
              </li>
              <li class="nav-item">
                <a href="PriceForecast.html" class="nav-link">Price Forecast</a>
              </li>
              <li class="nav-item">
                  <a href="AboutUs.html" class="nav-link">About Us</a>
              </li>
          </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4">
        <img src="../static/images/logo.png" />
      </div>
      <div class="col-sm-9 col-md-6 col-lg-8">
        <section id="what-we-do">
          <div class="container-fluid">
            <h2 class="section-title mb-2 h1">What we do</h2>
            <p class="text-center text-muted h5">
              We provide a one stop WebApp for all your sustainable agriculture
              needs.
            </p>

            <div class="row mt-5">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                  <div class="card-block block-1">
                    <h3 class="card-title">Crop Recommendation</h3>
                    <p class="card-text">
                      Get the ideal crop that can be grown on your land.
                    </p>
                    <a href="CropRecommendation.html" title="Try" class="try"
                      >Try<i class="fa fa-angle-double-right ml-2"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                  <div class="card-block block-2">
                    <h3 class="card-title">Fertilizer Prediction</h3>
                    <p class="card-text">
                      Identify the fertilizer required for your land.
                    </p>
                    <a href="FertilizerPrediction.html" title="Try" class="try"
                      >Try<i class="fa fa-angle-double-right ml-2"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                  <div class="card-block block-3">
                    <h3 class="card-title">Yield Prediction</h3>
                    <p class="card-text">Get details of your probable yield.</p>
                    <a href="YieldPrediction.html" title="Try" class="try"
                      >Try<i class="fa fa-angle-double-right ml-2"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                  <div class="card-block block-1">
                    <h3 class="card-title">Disease Detection</h3>
                    <p class="card-text">
                      Detect any disease in your crop.
                    </p>
                    <a href="DiseaseDetection.html" title="Try" class="try"
                      >Try<i class="fa fa-angle-double-right ml-2"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                  <div class="card-block block-2">
                    <h3 class="card-title">Price Forecast</h3>
                    <p class="card-text">
                      Forecast the price of your crops.
                    </p>
                    <a href="PriceForecast.html" title="Try" class="try"
                      >Try<i class="fa fa-angle-double-right ml-2"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            </div>
          </div>
        </section>
      </div>
    </div>

    <section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Our Services</h5>
            <ul class="list-unstyled quick-links">
              <li>
                <a href="Home.html"
                  ><i class="fa fa-angle-double-right"></i>Home</a
                >
              </li>
              <li>
                <a href="CropRecommendation.html"
                  ><i class="fa fa-angle-double-right"></i>Crop Recommendation</a
                >
              </li>
              <li>
                <a href="FertilizerPrediction.html"
                  ><i class="fa fa-angle-double-right"></i>Fertilizer Prediction</a
                >
              </li>
              <li>
                <a href="YieldPrediction.html"
                  ><i class="fa fa-angle-double-right"></i>Yield Prediction</a
                >
              </li>
              <li>
                <a href="DiseaseDetection.html"
                  ><i class="fa fa-angle-double-right"></i>Disease Detection</a
                >
              </li>
              <li>
                <a href="PriceForecast.html"
                  ><i class="fa fa-angle-double-right"></i>Price Forecast</a
                >
              </li>
            </ul>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>We're Social</h5>
            <ul class="list-unstyled quick-links">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook"></i>Facebook</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-twitter"></i>Twitter</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram"></i>Instagram</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-google-plus"></i>Google Plus</a
                >
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Contact us</h5>
            <ul class="list-unstyled quick-links">
              <li>
                <a href="#"
                  ><i class="fa fa-phone"></i>+91-1234567890</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-envelope"></i>sustagro@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>